.create-reccipe-container{
    width: 50%;
    height: 40vh;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
}
.data-input-container{
    width: 50%;
    height: 40vh;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
    gap: 10px;
}
.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.image-preview {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin: 5px;
}
.next-button{
    background-color: #7B8463;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}
.create-container{
    align-items: center;
}
.ingredient-input{
    width: 80%;
    height: auto;
    min-height: 60px;
    border-radius: 5px;
    background-color: #7B8463;
    padding-left: 10px;
}
.input-text{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #7B8463;
    padding-left: 10px;
}
.create-button{
    width: 30%;
    height: 30px;
    background-color: #7B8463;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}