.register-container{
    width: 70%;
    height: 70vh;
    overflow: hidden;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}
.register-left{
    width: 40%;
    height: 100%;
    background-image: url('../../../assessts/registerImage.jpg');
    overflow: hidden;
    background-size: cover;
}
.register-right{
    width: 60%;
    height: 100%;
    align-items: center;
}
.register-input-container{
    width: 100%;
    height: 50vh;
}
.register-input{
    height: 10%;
    background-color: #7B8463;
    border: 0;
    border-radius: 10px;
}
.register-input-text{
    width: 60%;
    padding-left: 10px;
}
.register-button{
    width: 30%;
    color: white;
}
.register-warning{
    color: #FF6347;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

  